
# PlanAhead Generated physical constraints 

NET "BD1_1_K3_3_P142" LOC = P142;
NET "BD1_2_K3_5_P140" LOC = P140;
NET "BD1_3__K3_7_P138" LOC = P138;
NET "BD1_4_K3_9_P134" LOC = P134;
NET "BD2_1_K4_3_P143" LOC = P143;
NET "BD2_2_K4_5_P141" LOC = P141;
NET "BD2_3_K4_7_P139" LOC = P139;
NET "BD2_4_K4_9_P137" LOC = P137;
NET "BUZZER_P83" LOC = P83;
NET "CLK_IN_P123" LOC = P123;
NET "ESP1_K5_1_P121" LOC = P121;
NET "ESP2_K5_3_P120" LOC = P120;
NET "ESP3_K5_5_P119" LOC = P119;
NET "ESP4_K5_7_P118" LOC = P118;
NET "ESP5_K5_9_P117" LOC = P117;
NET "ESP6_K5_11_P116" LOC = P116;
NET "ESP7_K5_13_P115" LOC = P115;
NET "ESP8_K5_15_P114" LOC = P114;
NET "IR1_K6_3_P111" LOC = P111;
NET "IR2_K6_1_P112" LOC = P112;
NET "IR3_K6_7_P104" LOC = P104;
NET "IR4_K6_5_P105" LOC = P105;
NET "IR5_K6_9_P102" LOC = P102;
NET "LDR_SS_K6_15_P99" LOC = P99;
NET "LED_Alarm_GR_P67" LOC = P67;
NET "LED_Alarm_Status_P82" LOC = P82;
NET "LED_Garage_K1_11_P9_A" LOC = P9;
NET "LED_Kitchen_K1_3_P21" LOC = P21;
NET "LED_LDR_K1_13_P7" LOC = P7;
NET "LED_LivingRoom_K1_9_P11" LOC = P11;
NET "LED_Room1_K1_5_P16" LOC = P16;
NET "LED_Room2_K1_7_P14" LOC = P14;
NET "SW0_P66" LOC = P66;
NET "SW1_P62" LOC = P62;
NET "SW2_P61" LOC = P61;
NET "SW3_P59" LOC = P59;
NET "SW4_P58" LOC = P58;
