//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 17 17:40:43 2021
//! **************************************************************************

SCHEMATIC START;
COMP "LED_Alarm_GR_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "ESP5_K5_9_P117" LOCATE = SITE "P117" LEVEL 1;
COMP "BD2_3_K4_7_P139" LOCATE = SITE "P139" LEVEL 1;
COMP "SW0_P66" LOCATE = SITE "P66" LEVEL 1;
COMP "LED_LDR_K1_13_P7" LOCATE = SITE "P7" LEVEL 1;
COMP "SW1_P62" LOCATE = SITE "P62" LEVEL 1;
COMP "BD2_2_K4_5_P141" LOCATE = SITE "P141" LEVEL 1;
COMP "LED_Room1_K1_5_P16" LOCATE = SITE "P16" LEVEL 1;
COMP "LED_Kitchen_K1_3_P21" LOCATE = SITE "P21" LEVEL 1;
COMP "ESP4_K5_7_P118" LOCATE = SITE "P118" LEVEL 1;
COMP "IR1_K6_3_P111" LOCATE = SITE "P111" LEVEL 1;
COMP "BUZZER_P83" LOCATE = SITE "P83" LEVEL 1;
COMP "LED_Alarm_Status_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "LED_Garage_K1_11_P9_A" LOCATE = SITE "P9" LEVEL 1;
COMP "SW2_P61" LOCATE = SITE "P61" LEVEL 1;
COMP "IR4_K6_5_P105" LOCATE = SITE "P105" LEVEL 1;
COMP "BD1_2_K3_5_P140" LOCATE = SITE "P140" LEVEL 1;
COMP "BD2_1_K4_3_P143" LOCATE = SITE "P143" LEVEL 1;
COMP "ESP3_K5_5_P119" LOCATE = SITE "P119" LEVEL 1;
COMP "SW3_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "LED_Room2_K1_7_P14" LOCATE = SITE "P14" LEVEL 1;
COMP "BD1_1_K3_3_P142" LOCATE = SITE "P142" LEVEL 1;
COMP "ESP2_K5_3_P120" LOCATE = SITE "P120" LEVEL 1;
COMP "LDR_SS_K6_15_P99" LOCATE = SITE "P99" LEVEL 1;
COMP "SW4_P58" LOCATE = SITE "P58" LEVEL 1;
COMP "IR5_K6_9_P102" LOCATE = SITE "P102" LEVEL 1;
COMP "ESP8_K5_15_P114" LOCATE = SITE "P114" LEVEL 1;
COMP "BD1_3__K3_7_P138" LOCATE = SITE "P138" LEVEL 1;
COMP "BD2_4_K4_9_P137" LOCATE = SITE "P137" LEVEL 1;
COMP "IR2_K6_1_P112" LOCATE = SITE "P112" LEVEL 1;
COMP "LED_LivingRoom_K1_9_P11" LOCATE = SITE "P11" LEVEL 1;
COMP "ESP7_K5_13_P115" LOCATE = SITE "P115" LEVEL 1;
COMP "IR3_K6_7_P104" LOCATE = SITE "P104" LEVEL 1;
COMP "CLK_IN_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "ESP1_K5_1_P121" LOCATE = SITE "P121" LEVEL 1;
COMP "ESP6_K5_11_P116" LOCATE = SITE "P116" LEVEL 1;
COMP "BD1_4_K3_9_P134" LOCATE = SITE "P134" LEVEL 1;
SCHEMATIC END;

