//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 15 13:12:59 2021
//! **************************************************************************

SCHEMATIC START;
COMP "L<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "L<3>" LOCATE = SITE "P79" LEVEL 1;
COMP "M<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "L<4>" LOCATE = SITE "P78" LEVEL 1;
COMP "M<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "L<5>" LOCATE = SITE "P75" LEVEL 1;
COMP "M<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "L<6>" LOCATE = SITE "P74" LEVEL 1;
COMP "M<3>" LOCATE = SITE "P92" LEVEL 1;
COMP "L<7>" LOCATE = SITE "P67" LEVEL 1;
COMP "M<4>" LOCATE = SITE "P88" LEVEL 1;
COMP "M<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "M<6>" LOCATE = SITE "P85" LEVEL 1;
COMP "M<7>" LOCATE = SITE "P84" LEVEL 1;
COMP "COMM_0" LOCATE = SITE "P44" LEVEL 1;
COMP "COMM_1" LOCATE = SITE "P43" LEVEL 1;
COMP "COMM_2" LOCATE = SITE "P33" LEVEL 1;
COMP "COMM_3" LOCATE = SITE "P30" LEVEL 1;
COMP "D<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "D<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "D<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "D<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "D<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "D<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "OSC" LOCATE = SITE "P123" LEVEL 1;
COMP "D<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "xl" LOCATE = SITE "P45" LEVEL 1;
PIN xl_pin<0> = BEL "xl" PINNAME PAD;
PIN "xl_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "D<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "SW2" LOCATE = SITE "P46" LEVEL 1;
COMP "S<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "S<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "S<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "S<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "S<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "S<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "S<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "S<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "L<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "L<1>" LOCATE = SITE "P81" LEVEL 1;
SCHEMATIC END;

